div {
    background-color: #84b6f4;
    border-radius: 30px;
    padding: 30px;
    margin: 30px;
    color: white;
    line-height: 20px;
}
html{
    font-family: "Arial", sans-serif;
}
.header{
    text-align: center;
}